@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
}

h1,
h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;

}

p {
  color: #777;
  font-size: 0.9rem;
  font-weight: 400;
}

.btn {
  color: #fff;
  padding: 7px 15px;
  background: #7c58fa;
  border: none;
  outline: none;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
}


@media only screen and (max-width:1200) {
  .container {
    width: 100%;
    padding: 0px 30px;
  }
}

@media only screen and (max-width:768) {

  h1,
  h2 {
    font-size: 1.2rem;
  }

  .jobs_item {
    width: 300px;
  }

  .search_panel {
    row-gap: 1rem;
  }

  .search_panel_01,
  .search_panel_03 select {
    padding: 7px 20px;
    font-size: 0.7px;
  }

  .search_panel_02 {
    padding: 5px 20px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width:576) {
  .search_panel_02 {
    display: none;

  }
}